<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="upsage_ticker_listing_data_source" xsi:type="string">UpSage\Ticker\Model\ResourceModel\Ticker\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<preference for="UpSage\Ticker\Api\TickerRepositoryInterface" type="UpSage\Ticker\Model\TickerRepository"/>
	<preference for="UpSage\Ticker\Api\Data\TickerInterface" type="UpSage\Ticker\Model\Ticker"/>
	<preference for="UpSage\Ticker\Api\Data\TickerSearchResultInterface" type="UpSage\Ticker\Model\TickerSearchResult"/>
</config>
