<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="UpSage_Ticker::ticker" title="Tickers" module="UpSage_Ticker" sortOrder="10" parent="Magento_Backend::content" action="upsage_ticker/ticker" resource="UpSage_Ticker::ticker"/>
    </menu>
</config>
